In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [11]:
"I tried to fish for fish but I didn't catch any fish".count("fish")

3

In [12]:
fish_sentence = "I tried to fish for fish but I didn't catch any fish"
fish_sentence.split(" ")

['I',
 'tried',
 'to',
 'fish',
 'for',
 'fish',
 'but',
 'I',
 "didn't",
 'catch',
 'any',
 'fish']

In [18]:
phrases = [
    'i love cars', 
    'i hate cars', 
    'cars butter cars', 
    'misery and gloomy pain cars',
    'the cars hate butter'
]

In [29]:
vec = TfidfVectorizer(token_pattern='([^\s]+)')
matrix = vec.fit_transform(phrases)
vec.get_feature_names()

['and',
 'butter',
 'cars',
 'gloomy',
 'hate',
 'i',
 'love',
 'misery',
 'pain',
 'the']

In [30]:
docs = pd.DataFrame(matrix.toarray(), columns=vec.get_feature_names())
docs

,and,butter,cars,gloomy,hate,i,love,misery,pain,the
0,0.000000,0.000000,0.347715,0.000000,0.000000,0.588732,0.729718,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.385372,0.000000,0.652491,0.652491,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.646129,0.763228,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.486386,0.000000,0.231765,0.486386,0.000000,0.000000,0.000000,0.486386,0.486386,0.000000
4,0.000000,0.507338,0.299642,0.000000,0.507338,0.000000,0.000000,0.000000,0.000000,0.628833